 
<%- include('../../partials/header.ejs') %>




<script src="https://accounts.google.com/gsi/client" async defer></script>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>       
    

    function handleCredentialResponse(response) {
        
        const data = jwt_decode(response.credential)
        console.log(data)
        var sub = data.sub
        var name = data.name
        var email = data.email

        axios.post('http://localhost:3333/authenticate', { name: name, email: email, sub: sub}).then(res =>{
            console.log('dados enviados para o servidor- '+ res)
            window.location.href ="http://localhost:3333/admin/categories"
        }).catch(err =>{
            console.log(err)
        })
        

        
    }
    window.onload =  async function () {
       await google.accounts.id.initialize({
        client_id: "814454736055-8enf5i3ke798v95b4qstgn9tm1upsh2e.apps.googleusercontent.com",
        callback: handleCredentialResponse
        });
       await google.accounts.id.renderButton(
        document.getElementById("buttonDiv"),
        { theme: "outline", size: "large" }  // customization attributes
        );
        google.accounts.id.prompt(); // also display the One Tap dialog
    }

    
    

    
    async function sendEmail(){
        let email = document.getElementById("email").value

        console.log(email)
        if(email == undefined || email == ''){
            alert('Preencha o campo email!')
        }else{
           let response= await axios.get(`http://localhost:3333/verify-user-email/${email}`)  

            if (response.status == 200){
                alert(' Foi enviado para seu email informações para recuperação de sua senha!')
            }else{
                alert( "Não foi encontrado nenhum usuario com esse email!")
            }
          }
        }

    
</script>

<div class="container">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="https://unpkg.com/jwt-decode/build/jwt-decode.js"></script>
    <hr>
    <div class="card mt-4">
        <div class="card-header">
            <h2>Login de admin</h2>
        </div>
        <card class="card-body">
            


            <form action="/authenticate" method="post">
                <input type="email" name="email" id="email" class="form-control" placeholder="email@exemplo.com"><br>
                <input type="password" name="password" placeholder="*********" class="form-control"><br>
                <button class="btn btn-success btn-block" type="submit"> Logar</button> <br> <br>

              
                <button type="button" onclick="sendEmail()" >Esqueci minha senha</button> <br> <br>
            </form>
           
           

            <div id="buttonDiv"></div>   
           

            
                      


        </card>
    </div>
</div>




<style>
    #g_id_onload{
        width: 300px;
        text-align: center;
        margin: auto;
        margin-top: 1%

    }
</style>



<%- include('../../partials/footer.ejs') %>