 
<%- include('../../partials/header.ejs') %>




<script src="https://accounts.google.com/gsi/client" async defer></script>
<script>
    import jwt_decode from "jwt-decode";
    function handleCredentialResponse(response) {
        const data = jwt_decode(response.credential)
        console.log(data)
    }
    window.onload = function () {
        google.accounts.id.initialize({
        client_id: "814454736055-8enf5i3ke798v95b4qstgn9tm1upsh2e.apps.googleusercontent.com",
        callback: handleCredentialResponse
        });
        google.accounts.id.renderButton(
        document.getElementById("buttonDiv"),
        { theme: "outline", size: "large" }  // customization attributes
        );
        google.accounts.id.prompt(); // also display the One Tap dialog
    }
</script>

<div class="container">
    <hr>
    <div class="card mt-4">
        <div class="card-header">
            <h2>Login de admin</h2>
        </div>
        <card class="card-body">
            


            <form action="/authenticate" method="post">
                <input type="email" name="email" class="form-control" placeholder="email@exemplo.com"><br>
                <input type="password" name="password" placeholder="*********" class="form-control"><br>
                <button class="btn btn-success btn-block" type="submit"> Logar</button>

              
               
            </form>
            <div id="buttonDiv"></div>

            <p id="name"></p>
            <p id="email"></p>          


        </card>
    </div>
</div>




<style>
    #g_id_onload{
        width: 300px;
        text-align: center;
        margin: auto;
        margin-top: 1%

    }
</style>



<%- include('../../partials/footer.ejs') %>