
<%- include('../../partials/header.ejs') %>


<div class="container">

 
    <hr>
    <div class="card mt-4">
        <div class="card-header">
            <h2>Reset password</h2>
        </div>
        <card class="card-body">
            


            <form action="/reset-user-password" method="post">
                <label for="new-password"> Insira sua nova senha:</label>
                <input type="hidden" id="idUser" name="id" value="<%= userData.id %>">
                <input type="hidden" id="token" name="token" value="<%= userData.token %>">
                <input type="password" id="new-password" name="password" placeholder="*********" class="form-control"><br>
                <button class="btn btn-success btn-block" type="submit" onsubmit="validarForm(event)">Enviar</button> <br>

              
                
            </form>
           

        </card>
    </div>
</div>
<script>

   async function validarForm(event){
        event.preventDefaut()

        let pass = document.getElementById('new-password').value 
         
            if(pass == undefined || pass == ''){
                alert(' O campo senha não pode ser vazio!')
            }else{
                let id = document.getElementById('idUser').value
                let token = document.getElementById('token').value

                let userData = {
                    id: id,
                    token: token
                }

                if(id != undefined && id != '' && token != undefined && token != ''){

                  let res = await  axios.post("http://localhost:3333/reset-user-password", {data: userData}).then( res =>{
                        if(res.status == 200){
                            alert( ' Senha alterada com sucesso!  Faça login com sua nova senha.')
                        }
                        else{
                            console.log(res)
                        }
                        
                    }).catch( err=> {
                        console.log(err)
                        alert('Não foi possível completar ação! Erro interno.')
                    })


                }else{
                    alert( " Usuário não foi identificado. Sem permissão para realizar essa ação!")
                }
                
            }

    }
</script>
<%- include('../../partials/footer.ejs') %>